<div class="filter-friends">
    <div class="filter-friends__title">Ваши друзья</div>
    <ul class="filter-friends__list">
        <li class="filter-friend">
            <div class="filter-friend__ava"></div>
            <div class="filter-friend__name"></div>
            <div class="filter-friend__button"></div>
        </li>
    </ul>
</div>