<div class="filter-friends">
    <div class="filter-friends__title">Ваши друзья</div>
    <ul class="filter-friends__list js-common-friends">
        <li class="filter-friend">
            <div class="filter-friend__ava">
                <img class="filter-friend__image" src="./src/images/test-ava.jpg" alt="">
            </div>
            <div class="filter-friend__name">Тестовый тестер</div>
            <div class="filter-friend__button">
                <svg class="filter-friend__button-icon">
                    <use class="filter-friend__button-svg" xlink:href="#cross" x="0" y="0" />
                </svg>
            </div>
        </li>
    </ul>
</div>
<div class="filter-friends filter-friends--favorites">
    <div class="filter-friends__title">Ваши друзья</div>
    <ul class="filter-friends__list js-favorites-friends">
    </ul>
</div>