<div class="filter-friends">
    <div class="filter-friends__title">Ваши друзья</div>
    <ul class="filter-friends__list js-friends-list" data-list="common">
    </ul>
</div>
<div class="filter-friends filter-friends--favorites">
    <div class="filter-friends__title">Ваши друзья</div>
    <ul class="filter-friends__list js-friends-list" data-list="favorite">
    </ul>
</div>