<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div class="filter-wrapper">
        <img src="./src/images/logo.png" class="filter-image" alt="">
        {{> "./filter.hbs"}}
    </div>

    <div class="svg-sprite" style="display: none">
        {{> "./svg-sprite.hbs"}}
    </div>

    {{> "./filter-friend"}}

    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
</body>
</html>
