.filter {
  min-width: 620px;

  &-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-image {
    display: block;
    margin: 0 auto 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $orange;
    padding: $inner-padding;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }

  &-close__icon {
    height: 17px;
    width: 17px;
    fill: #fff;
    transform: rotate(45deg);
  }

  &__fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $inner-padding;
    background-color: $grey;
  }

  &-field {
    width: 285px;
    position: relative;
  }

  &-field__input {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: 5px 28px;
    font-size: 14px;
    color: $dark-grey;

    &:focus + .filter-field__icon {
      display: none;
    }
  }

  &-field__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 14px;
    height: 14px;
    fill: $dark-grey;
    transform: translateY(-50%);
    z-index: 1;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $grey;
    padding: $inner-padding;
    color: #fff;
    border-radius: 0 0 10px 10px;
  }

  &__save {
    color: #fff;
    padding: 8px 10px;
    background-color: $orange;
    border: none;
    border-radius: 10px;
    font-size: 12px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    padding: 0 $inner-padding;
  }

  &-friends {
    width: calc(50% - 1px);
    padding: $inner-padding 0 0 $inner-padding;

    &:first-child {
      border-right: 1px solid $grey;
    }

    &--favorites {

      .filter-friend__button-icon {
        transform: rotate(45deg);
      }
    }
  }

  &-friends__title {
    color: $asphalt;
    font-size: 14px;
    margin-bottom: 8px;
  }

  &-friends__list {
    height: 325px;
    overflow-y: scroll;
    margin: 0;
    border-top: 1px solid $grey;
    background-color: transparent;
    padding: 0;
    list-style: none;
    transition: background-color .2s ease;

    &.over {
      background-color: $grey;
    }
  }

  &-friend {
    margin: 0;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    border-top: 1px solid $grey;
    background-color: initial;
    opacity: 1;
    transition: background-color .2s ease, opacity .2s ease;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: 1px solid $grey;
    }

    &.drag {
      border-color: transparent;
      background-color: $grey;
      opacity: .6;
    }
  }

  &-friend__ava {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }

  &-friend__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &-friend__name {
    margin-right: auto;
  }

  &-friend__button {
    width: 16px;
    height: 16px;
  }

  &-friend__button-icon {
    width: 100%;
    height: 100%;
    fill: $dark-grey;
  }
}

.filter__content.drag .filter-friend {
  pointer-events: none;
}

.filter__content.drag .filter-friend.drag {
  pointer-events: auto;
}
